
@{
    ViewBag.Title = "Index";
}

<h2>Requerimientos</h2>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th># Requerimiento</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tiempo</th>
            <th>Porcentaje</th>
            <th>Costo</th>
            <th>Fecha Registro</th>
            <th>Fecha Modificacion</th>
            <th>Proyecto</th>
            <th>Estado</th>
            <th>Tipo Requerimiento</th>
        </tr>
    </thead>
</table>

